{% load staticfiles %}

<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="content container">
    <header class="page-header">
        <h1>Home</h1>
    </header>
    <div>
        <h2> Hello Django!</h2>
    </div>

    <div>
        <ul>
            <li>
                <h3><a href='/blog'>Joyoon's Blog</a></h3>
            </li>
            <li>
                <h3><a href='/video'>Video List</a></h3>
            </li>
            <li>
                <h3><a href='/crawler'>My Repositories</a></h3>
            </li>
            <li>
                <h3><a href='/uploader'>show img</a></h3>
            </li>
        </ul>
        
    </div>
</div>
</body>
</html>